- let url = result.url.startsWith("http") ? result.url : `https://${result.url}`;

article(class="message result", data-type="result", data-title=result.title, data-url=result.url)
    div(class="message-body")
        a(href=url)
            div(class="label result_title")=result.title
        a(href=url)
            div(class="result_link")=result.url
        div(class="result_content")=result.content
        
        br

        div(class="buttons")
            a(class="button is-dark", onclick=`previewImage('${result.url}')` data-url=result.url) Preview
            a(class="button is-dark hidden", onclick=`watch('${result.url}')`, data-url=result.url, data-type="video") Watch
            a(class="button is-dark hidden", onclick=`listen('${result.url}')`, data-url=result.url, data-type="audio") Listen